body, #root{
  overflow-x: hidden;
  margin: 0;
  padding-bottom: 0px !important;
  height: 100%;
  
}



/* Navbar spacing fix */

.nav-container {
  background-color: black;
  padding: 20px;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar-brand{
  margin-left: 30px;
  font-size: 40px;
  font-weight: bold;
}

.nav-item{
  margin-left: 100px;
  margin-right: 50px;
  font-size: 23px;
 
}

/*NavBar options*/
.nav-link{
 
 color: rgb(7, 127, 171) !important;
  
}

.nav-link:hover{
   color: #0dcaf0 !important;
}

/* default underline for home */
.active-link {
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #0dcaf0; /* text-info */
  transition: 0.3s ease;
}

.navbar-nav:hover .active-link::after {
  width: 0%;
}

/* hover underline for ALL nav items */
.navbar-nav .nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #0dcaf0;
  transition: width 0.3s ease;
}



.navbar-nav .nav-item {
  margin-left: 25px; /* adjust as you want */
  
}

.navbar-container{
  margin-left: 40px !important;  /* reduce or increase */
}

/* Name brand on Navigation*/
.navbar-brand {
  font-size: 34px;
  font-weight: 800;
  letter-spacing: 1px;
}

/* Animated gradient */
.brand-animated {
  background: linear-gradient(
    90deg,
    hsl(182, 94%, 50%),
    #110571,
    #0fe7ff,
    #230643
  );
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 6s ease infinite;
  text-shadow: 0 0 10px rgba(0, 238, 255, 0.5),
               0 0 20px rgba(56, 4, 247, 0.4);
  transition: 0.3s ease;
}

/* Hover Glow BOOST */
.brand-animated:hover {
  text-shadow: 0 0 15px rgba(169, 249, 255, 0.8),
               0 0 25px rgba(165, 144, 241, 0.6),
               0 0 40px rgba(5, 199, 213, 0.7);
  transform: scale(1.05);
}

/* Keyframes */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/*hero section*/
.hero-section {
  padding: 120px 0 60px 0; /* space below navbar */
  background-color: black;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

/* Box around name */
.name-box {
  border-radius: 8px;
}

/* glowing profile image */
.profile-img {
 
  width: 450px;          /* bigger size */
  height: 450px;
  border-radius: 50%;    /* perfect circle */
  object-fit: cover;     /* keeps face proportions correct */
  border: 2px solid rgb(7, 245, 245);
  box-shadow: 0 0 20px rgba(7, 245, 245, 0.6);
  transition: 0.3s ease;
}

.profile-img:hover {
  transform: scale(1.07);
  box-shadow: 0 0 35px rgba(7, 245, 245, 0.9);
}

.text-light{
  margin-top: 60px;
  margin-bottom: 70px;
}

/*fade in animation*/
.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Animation for name*/
.slide-left {
  animation: slideLeft 1.2s ease-out;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


/*Typing animation for name*/
.typing {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #17a2b8;
  animation: typing 3s steps(30) forwards, blink 0.7s infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 320px; }
}

@keyframes blink {
  50% { border-color: transparent; }
}


/* Skills */
.skill-box {
  background: rgba(255,255,255,0.05);
  box-shadow: 3px 3px 3px lab(80.65% -38.36 -19.9 / 0.932);
  padding: 12px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}

.skill-box:hover{
  box-shadow: 3px 3px 7px lch(93.45% 1.41 199.76);
  color: aqua;
}

/* Social Icons */
.social-icons{
  display: flex;
  gap: 5px;   /* equal spacing */
  align-items: center;
}
.icon {
  display: inline-flex;
  width: 45px;
  height: 45px;
  background: rgba(255,255,255,0.05);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.3rem;
  color: white;
  margin-top: 70px;
  margin-left: 45px;
  margin-right: 5px;
  transition: 0.3s;
 
}
.icon:hover {
  background: #00bfff;
  transform: translateY(-4px);
}




/* Shared button styles */
.custom-btn-outline,
.custom-btn-fill {
  padding: 12px 28px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  margin-right: 40px;
  
}

/* Outline Button (Download CV) */
.custom-btn-outline {
  border: 2px solid #ffffff;
  color: #ffffff;
}

.custom-btn-outline:hover {
 
  border: 2px solid #38ebdc;
  color: hsl(168, 100%, 61%);
  transform: translateY(-3px);
  box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.5);
}

/* Filled Button (View Projects) */
.custom-btn-fill {
  background-color: #17a2b8;   /* sky blue */
  border: 3px solid hwb(0 100% 0%);
  color: #000;
  font-weight: bold;
}

.custom-btn-fill:hover {
  background-color: #000000;
  border: 2px solid #38ebdc;
  color: #2fd7ed;
  transform: translateY(-3px);
  box-shadow: 0px 4px 12px rgba(0, 191, 255, 0.6);
}


.lead:hover {
  color: #00eaff !important;
  transition: 0.3s ease-in-out;
  font-size: 25px;
}





/*Contact CSS styles*/
/* section titles */


.contact-continer{
   margin-top: 100px;
   margin-bottom: 80px;
   
}


.section-title {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: 80px;
}



.color-title{
  color: #00bfff;
  text-align: center;
}


.contact-form {
  background: #030303;
  border: 1px solid #1f1f1f;
}

.contact-form .form-control {
  background: #090b0b;
  color: #090909;
  border: 1px solid #17575c;
}

.contact-form .form-control:focus {
  border-color: #61bfcf;
  box-shadow: 2px 2px 5px #0fcbf1f9;
}

.contact-form label {
  color: #187e93;
  font-weight: 600;
}


.custom-placeholder::placeholder {
  color: #67686a !important; 
  opacity: 0.5; /* ensures full visibility */
}



.send-btn {
  background: linear-gradient(90deg, #00bcfbf2, #2b3aa6);
  background-size: 200%;
  color: white;
  border: none;
  padding: 12px 28px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  box-shadow: 0 0 12px rgba(9, 186, 246, 0.6);
  animation: gradientMove 3s linear infinite;
}

/* Hover effects */
.send-btn:hover {
  background-position: right;
  transform: scale(1.07);
  box-shadow: 0 0 18px rgba(17, 85, 91, 0.85);
}

/* Gradient animation */
@keyframes gradientMove {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}





/*About Section*/

.about-section {
  padding: 120px 20px;
  background-color: #022f32;
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  gap: 40px;
}

.about-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.profile-img-about {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid rgb(12, 255, 215);
  margin-right: 60px;
  object-fit: cover;       /* ensures zoom fit */
  object-position: center; /* keeps face centered */
  display: block; 
  box-shadow: 0 10px 25px rgba(236, 232, 232, 0.2);
}



.profile-img-about:hover {
  transform: scale(1.07);
  box-shadow: 0 0 35px rgba(7, 245, 245, 0.9);
}

.about-right {
  flex: 2.5;
  
}

.about-right h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: white;
}

.about-right p {
  font-size: 23px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #036c6c;
}

.about-right ul {
  font-size: 20px;
  list-style-type: disc;
  margin-left: 20px;
  color: #a6c2cb;
}

/*p hover */
.about-right p:hover {
  color: rgb(233, 237, 237); /* Example: blue on hover */
  transition: color 0.3s ease;
}

/* Hover effect for list items in About section */
.about-right ul li:hover {
  color: rgb(22, 217, 194); /* Same hover color */
  cursor: pointer; /* Optional, gives pointer */
  transition: color 0.3s ease;
}


.btn-contact {
  display: inline-block;
  padding: 12px 25px;
  background-color: #f0f3f3;
  color: rgb(11, 10, 10);
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
  transition: 0.3s;
}

.btn-contact:hover {
  background-color: #151416;
  color: white;
  border: 2px solid rgb(127, 246, 255);
}




/* Skills Section */


.skills-sec-color {
  padding: 60px 0;
  background-color: rgb(102, 104, 104) !important;
}

.skills-title {
  animation: colorWave 3s ease-in-out infinite alternate;
}

@keyframes colorWave {
  0% {
    color: #ffffff;
  }
  100% {
    color: #01b2ed;
  }
}


.skills-sec-color h2{
  padding-top: 60px;
}




.skills-wrapper {
  display: flex;
  justify-content: flex-end; /* Moves circle to the RIGHT */
  padding-right: 80px;       /* Adjust distance from right */
}

.skills-section {
  width: 100%;
  padding: 40px 0;
}


.skills-container {
  display: flex;
  justify-content: center;     /* Center everything */
  align-items: center;
  gap: 50px;                   /* Equal gap between all four */
  padding: 40px 0;
}

/* All 4 columns same size */
.skill-box,
.rotating-container {
  flex: 1;
  max-width: 400px; 
  max-height: 600px;           /* Fixed width so they stay centered */
  background: #258b9d;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s ease;
  gap: 40px 60px;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.08);
}


/* Hover grow effect */
.skill-box:hover {
  transform: scale(1.15);
  background: rgb(28, 28, 28);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  
}




/* Text under each image */
.skill-box h4, .skill-box h5 {
  margin: 5px 0;
  font-size: 16px;
  transition: transform 0.3s ease, font-size 0.3s ease;
}



/* Hover effect on text corresponding to image */
.skill-box img:hover + h4,
.skill-box img:hover + h5 {
  transform: scale(1.3); /* Text grows */
  font-weight: bold;
  color: #63f0f5; /* optional highlight */
}

/* Others shrink when one is hovered */
.skills-container:hover .skill-box {
  transform: scale(0.75);
}
.skills-container .skill-box:hover {
  transform: scale(1.15);
}

/* Skill icon inside box */
.skill-box img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  object-fit: contain;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.skill-box img:hover {
  transform: scale(0.8);
   box-shadow: 2px 8px 25px rgba(89, 228, 233, 0.999); /* shadow appears only on hover */
}

/* Center the rotating circle perfectly */
.rotating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: none;
}


@keyframes rotateCircle {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.skills-container ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.skill-box h3 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 25px;
}

/* Rotating circle */
.skills-rotating-circle {
  position: relative;
  width: 450px;
  height: 450px;
  margin-top: 80px;
  margin-left: 100px;
  margin-right: 20px;
  animation: rotateCircle 35s linear infinite;
}

.skills-rotating-circle:hover {
  animation-play-state: paused;
}

@keyframes rotateCircle {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* FIXED ICONS (no rotation) */
.skill-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:
    rotate(calc(var(--i) * 19deg))          /* place */
    translate(180px)                       /* distance */
    rotate(calc(var(--i) * -16deg)); 
  transition: 0.3s;
  cursor: pointer;
}

/* Icon image */
.skill-icon img {
  width: 80px;
  height: 80px;
  padding: 10px;
  object-fit: contain;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.08);
  transform: rotate(0deg) !important;   /* ALWAYS STRAIGHT */
  transition: 0.3s ease;
  z-index: 1; 
}

/* Hover → enlarge icon */
.skill-icon:hover img {
  transform: scale(1.4) rotate(0deg) !important;
  box-shadow: 0 0 25px #00f6ff;
}

/* TEXT (always straight) */
.skill-icon span {
  position: absolute;
  top: 115px;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%) rotate(0deg) !important;
  font-size: 15px;
  font-weight: 600;
  color: rgb(251, 251, 251);
  opacity: 0;
  z-index: 5;
  transition: opacity 0.3s ease;
}

/* Hover → show text */
.skill-icon:hover span {
  opacity: 1;
}



/*Tool Box*/

/* Container for tools section */
.tools-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  background: #0a7676;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
}

/* Section title */
.tools-box h3 {
  text-align: center;
  margin-bottom: 15px;
}

/* Row of icons */
.tools-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Shrink all icons when hovering over the container */
.tools-box:hover .tool {
  transform: scale(0.85); /* Shrinks all icons */
  opacity: 1;
}

/* Hover on individual icon: grow only the image */
.tool:hover {
  transform: scale(1.2) !important;
  opacity: 1;
   box-shadow: 0px 8px 25px rgb(251, 254, 254);
  
}

/* Image inside icon */
.tool img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.973);
  padding: 5px;
  transition: transform 0.3s ease;
}

/* Only image grows on hover */
.tool:hover img {
  transform: scale(1.3);
 
}

/* Text below image stays normal */
.tool span {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  color: black;
  display: block;
  text-align: center;
  transition: opacity 0.3s ease;
}



/*Projects*/
.projects-section {
  padding: 80px 0;
  background: #070b14;
  color: white;
  text-align: center;
}

.projects-title {
  font-size: 2.7rem;
  font-weight: 700;
}

.projects-subtitle {
  color: #ff3b3b;
  margin-bottom: 40px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  padding: 0 40px;
}

.project-card {
  background: #0d1117;
  padding-bottom: 20px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid rgba(255,255,255,0.1);
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0,0,0,0.5);
}

.project-card img {
  width: 50%;
  height: 180px;
  object-fit: cover;
}

.project-type {
  display: block;
  margin-top: 10px;
  color: #ff3b3b;
  font-size: 0.9rem;
}

.project-name {
  margin-top: 4px;
  font-size: 1.1rem;
  font-weight: 600;
}

/* MODAL */
.modal-overlay {
 
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal-content {
  width: 500px;
  background: #111827;
  padding: 25px;
  border-radius: 12px;
  position: relative;
  text-align: left;
  animation: pop 0.3s ease;
}

@keyframes pop {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.modal-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.modal-type {
  color: #ff3b3b;
  margin-bottom: 10px;
}

.modal-description {
  margin: 10px 0;
  line-height: 1.6;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-list li {
  background: #1f2937;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 0.85rem;
}

.modal-btns {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.github {
  background: #24292e;
}

.live {
  background: #ff3b3b;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
}


































/*Experience*/

/*Experience Section*/

.container-card{
  background-color: #041b20;
  padding-top: 95px;
  padding-bottom: 150px;

}

h2 span {
  color: #30b3cd;
}

/* Timeline line */
.timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background-color: #041b20;
  transform: translateX(-50%);
  z-index: 0;
}

/* Columns */
.journey-column {
  position: relative;
  z-index: 1;
}

.journey-column h4 {
  animation: titleGlow 2s ease-in-out infinite alternate;
}

@keyframes titleGlow {
  0% {
    color: #f7f9f9;
    text-shadow: 0 0 5px #25b8e9;
  }
  100% {
    color: #00dbeb;
    text-shadow: 0 0 10px #7dc7df, 0 0 25px #afd6e4;
  }
}


.para-color{
  color: #aeb1b1;
}

.journey-column p:hover{
  color: #00bfff;
}

/* Cards */
.journey-card {
  border: 2px solid #2c94a9;
  padding: 20px 20px 20px 40px;
  border-radius: 10px;
  background-color: #080b0e;
  color: #f0f1f1;
  position: relative;
  transition: transform 0.2s, box-shadow 0.4s;
}



/* Hover effect */
.journey-card:hover {
  border: 2px solid white;
  transform: translateY(-5px);
  box-shadow: 5px 5px 25px rgb(69, 241, 241);
}




/* Year text */
.journey-year {
  display: block;
  font-weight: bold;
  color: #0dcaf0;
  margin-bottom: 8px;
}


/* Left cards */
.left-card {
  margin-left: auto;
  margin-right: 20px;
}

.left-card .journey-dot {
  right: -28px;
}

/* Right cards */
.right-card {
  margin-right: auto;
  margin-left: 20px;
}

.right-card .journey-dot {
  left: -28px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .timeline-line {
    left: 8px;
  }

  .left-card,
  .right-card {
    margin: 0 0 20px 30px;
  }

  .left-card .journey-dot,
  .right-card .journey-dot {
    left: -28px;
  }

  .journey-card {
    padding-left: 50px;
  }
}


/*Description*/
.experience-list li {
  color: #858d8d; /* change to your theme color */
  font-size: 16px; /* optional */
  line-height: 1.7; /* optional for readability */
}

.experience-list li:hover {
  color: #35ded2;
  transition: color 0.3s ease;
}


/*Certificate icon*/

.certificate-icon img {
  width: 20px;
  height: 20px;
  opacity: 0.8; /* slightly transparent */
  transition: all 0.3s ease;
  border-radius: 50px;
  background-color: transparent;
  mix-blend-mode: lighten;
}
.certificate-icon img:hover {
  opacity: 1; /* fully visible */
  filter: drop-shadow(0 0 8px #1e2626); /* glow effect */
  transform: scale(1.2); /* optional: slight enlargement */
}

